body{
    background-color: #E1FFEE ;
}

.top_bar{
    border-radius: 20px;
    position: relative;
}

.message{
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
    margin-left: 18px;
}

.side-bar{
    display: block;
    position: absolute;
    right: 40px;
    top: 3px;
    font-family: 'Tiro Devanagari Hindi', serif;
    font-size: 1.5em ;
}

.home{
    color: black;
    position: relative;
    margin-right: 40px;
}

.projects{
    color: black;
}

.middle{
    position: relative;
}

.mountain-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

h1{
    color: #319DA0;
    font-family: 'Dancing Script', cursive;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 3.5em;
    width: 20%;
    margin-bottom: 0;
}

.developer{
    color: #319DA0;
    display: block;
    margin-top: 0;
    margin-left: 675px;
    margin-right: auto;
    padding: 0;
    width: 10%;
}

.cloud1{
    position: absolute;
    top: 210px;
    left: 220px;
}

.cloud2{
    position: absolute;
    top: 70px;
    right: 220px;
}

.my-image{
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.abt{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    font-size: 3em;
}

.my-self{
    color: #115456 ;
    font-family: 'Combo';
    text-align: center;
    line-height: 1.4;
    font-size: 1.5em;
    
}

.dot{
    font-size: 5em;
    display: block;
    margin-top: o;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.skills{
    text-align: center;
    font-size: 3em;
}

.webd-image{
    width: 220px;
    float: left;
    margin-right: 30px;
}

.heading{
    font-size: 2em;
}

.para{
    font-size: 1.5em;
}

.cloud-image{
    width: 220px;
    float: right;
    margin-left: 30px;
}

.webd{
    margin-left: 300px ;
    margin-right: 350px;
    margin-top: 100px;
    margin-bottom: 200px;
}

.devops{
    margin-left: 350px;
    margin-right: 300px ;
    margin-top: 10px ;
}

.touch{
    margin-top: 250px;
}

.gett{
    text-align: center;
    font-size: 3em;
}

.feel{
    text-align: center;
    font-size: 1.5em;
}

.contact-me{
    background-color: #115456;
    color: white;
    margin-left: 636px;
    border-radius: 20px;
    width: 12%;
    font-size: 1.5em;
}

.media{
    background-color: aquamarine;
    margin-top: 40px;
    position: relative;
}

.img1{
    padding: 20px;
    width: 50px;
    position: absolute;
    left: 550px;
}
.img2{
    padding: 20px;
    width: 50px;
    position: absolute;
    left: 630px;
}

.img3{
    padding: 20px;
    width: 50px;
    position: absolute;
    left: 720px;
}

.img4{
    padding: 20px;
    width: 50px;
    position: absolute;
    left: 800px;
}
